/* separate components */
.chart-c {
  width: 105px;
  height: 105px;
  margin: 0;
  position: relative;
}
.chart-c.animate svg .circle-foreground {
  animation: offset 1s ease-in-out forwards;
  animation-delay: 1s;
}
.chart-c.animate figcaption:after {
  animation: chart-c-label 1s steps(74) forwards;
  animation-delay: 1s;
}
.chart-c svg {
  width: 100%;
  height: 100%;
}
.chart-c svg .circle-background, .chart-c svg .circle-foreground {
  r: 50px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #e8eaea;
  stroke-width: 5px;
}
.chart-c svg .circle-foreground {
  stroke: #17c0a3;
  stroke-dasharray: 232.36px 314px;
  stroke-dashoffset: 232.36px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-c figcaption {
  display: inline-block;
  width: 100%;
  height: 24px;
  overflow: hidden;
  text-align: center;
  color: #00a093;
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  font-size: 0;
}
.chart-c figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 24px;
  line-height: 24px;
}

@keyframes chart-c-label {
  100% {
    transform: translateY(-1776px);
  }
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 996px) {
  body .container {
    display: initial;
  }
  body header {
    display: flex;
  }
  body header .main-menu {
    margin: 0 auto;
  }
  body header .main-menu ul {
    display: flex;
  }
  body header .main-menu ul li a {
    line-height: 6;
    width: 100px;
    height: 100px;
  }
  body header .main-menu ul li a:after {
    bottom: -5px;
  }
  body .content {
    padding: 10px;
  }
  body .content .chart-box .chart {
    max-width: initial;
  }
}
@media (max-width: 768px) {
  body .container header {
    display: flex;
  }
  body .container header .main-menu {
    margin: 0 auto;
  }
  body .container header .main-menu ul {
    display: flex;
  }
  body .container header .main-menu ul li a {
    line-height: 5;
    width: 80px;
    height: 80px;
  }
  body .container header .main-menu ul li a:after {
    bottom: -5px;
  }
  body .container .content .chart-box {
    display: block;
  }
  body .container .content .chart-box .chart {
    margin: 0;
  }
  body .container .content .chart-box .quote {
    width: 100%;
  }
  body .container .content .activity-calendar .calendar-slider::-webkit-scrollbar {
    display: block;
    width: 2px;
  }
  body .container .content .activity-calendar .calendar-slider {
    display: block;
    overflow-x: auto;
    overflow-y: scroll;
    height: 400px;
  }
  body .container .content .activity-calendar .calendar-slider li {
    margin-right: 10px;
  }
  body .container .content .activity-calendar .calendar-slider li:last-child {
    margin-right: 10px;
  }
  body .container .content .activity-calendar .calendar-slider .day-section {
    width: 100%;
    margin-bottom: 10px;
  }
  body .container .content .notification-box {
    display: block;
  }
  body .container .content .notification-box .notification .quote-issues {
    display: none;
  }
  body .container .content .notification-box .notification .notify-list-rows li {
    justify-content: space-around;
  }
}
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Global */
body {
  font: 12px "Roboto", sans-serif;
  color: #cecece;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.big-number {
  font-size: 35px;
  font-weight: 300;
}

/* Header */
header {
  border-right: 1px solid #ecefef;
}
header .main-menu li {
  position: relative;
}
header .main-menu .current {
  background: #00a093;
  color: #ffffff;
}
header .main-menu .nav-dashboard:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/dashboard-icon.svg");
}
header .main-menu .nav-quotes:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/quotes-icon.svg");
}
header .main-menu .nav-renewals:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/renewals-icon.svg");
}
header .main-menu .nav-clients:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/clients-icon.svg");
}
header .main-menu .nav-notify:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/notifications-icon.svg");
}
header .main-menu a {
  display: flex;
  line-height: 12;
  justify-content: center;
  width: 125px;
  height: 124px;
  color: #aaaaaa;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
header .main-menu a:hover {
  color: #ffffff;
  background: #00a093;
  box-shadow: 0 2px 27px -2px black;
}

/* PAGE CONTENT */
.content {
  flex: 1;
  padding-top: 60px;
  padding-left: 45px;
  /* CHART BOX SECTION */
  /* ACTIVITY CALENDAR SECTION */
}
.content h3 {
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin: 27px 0 15px;
}
.content .content-header {
  display: flex;
}
.content .content-header h1 {
  font-size: 14px;
  color: #515151;
}
.content .content-header hr {
  flex: 1;
  height: 1px;
  border: 0;
  background: #f9f9f9;
  margin-top: 12px;
  margin-left: 10px;
}
.content .chart-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /* QUOTE in ASIDE */
}
.content .chart-box .chart {
  width: 100%;
  max-width: 588px;
  margin-right: 10px;
}
.content .chart-box .chart .chart-img {
  background: #f6f7fa;
  border-radius: 7px;
}
.content .chart-box .quote {
  min-width: 228px;
}
.content .chart-box .quote h3 {
  margin: 27px 0 15px;
}
.content .chart-box .quote .quote-box {
  padding-bottom: 40px;
  border-radius: 7px;
  background: #f6f7fa;
}
.content .chart-box .quote .quote-box .quote-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
  border-bottom: 1px solid #d8d8d8;
}
.content .chart-box .quote .quote-box .quote-count {
  text-align: center;
  margin: 30px 0;
}
.content .chart-box .quote .quote-box .quote-count span {
  display: block;
}
.content .chart-box .quote .quote-box .percent-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .chart-box .quote .quote-box .quote-compare {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin-top: 35px;
  padding: 0 25px;
  text-transform: capitalize;
}
.content .chart-box .quote .quote-box .quote-compare div {
  width: 80%;
}
.content .chart-box .quote .quote-box .quote-compare .succeded-quotes:before {
  background: #0dc3af;
}
.content .chart-box .quote .quote-box .quote-compare .declined-quotes:before {
  background: #cecece;
}
.content .chart-box .quote .quote-box .quote-compare .dots {
  font-size: 18px;
}
.content .chart-box .quote .quote-box .quote-compare .dots:before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.content .activity-calendar {
  padding-bottom: 20px;
  max-width: 835px;
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar-thumb {
  background-color: #3fcfc1;
  outline: 1px solid slategrey;
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar {
  display: block;
  height: 2px;
}
.content .activity-calendar .calendar-slider {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
}
.content .activity-calendar .calendar-slider li {
  margin-right: 10px;
}
.content .activity-calendar .calendar-slider li:last-child {
  margin-right: 0;
}
.content .activity-calendar .calendar-slider .day-section {
  width: 157px;
  border-radius: 7px;
  overflow: hidden;
  background: #f6f7fa;
}
.content .activity-calendar .calendar-slider .day-section .day-head {
  background: #f0f1f2;
  display: flex;
  padding: 10px 10px 0;
}
.content .activity-calendar .calendar-slider .day-section .day-head .month {
  color: #929293;
  letter-spacing: 1.2px;
  margin-top: 7px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list {
  padding: 5px 10px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list li {
  display: flex;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list li .c-desc {
  padding-top: 20px;
  color: #a8aeae;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1.1px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .new-quotes .big-number {
  color: #34cebf;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .renewals .big-number {
  color: #fed26a;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .notification .big-number {
  color: #ffb78b;
}
.content .activity-calendar .calendar-slider .day-section .big-number {
  text-align: right;
  width: 30%;
  margin-right: 10px;
  color: #929293;
  letter-spacing: 3.49px;
}

/* NOTIFICATION BOX SECTION */
.notification-box {
  display: flex;
  justify-content: space-between;
  /* CLIENTS BOX */
}
.notification-box .notification {
  width: 100%;
  margin-right: 10px;
}
.notification-box .notification .notify-list-rows {
  border-radius: 7px;
  overflow: hidden;
  background: #f6f7fa;
}
.notification-box .notification .notify-list-rows li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  height: 45px;
  padding-right: 15px;
}
.notification-box .notification .notify-list-rows li .notify-date:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ffcf60;
  margin: 0 20px;
}
.notification-box .notification .notify-list-rows li .notify-date {
  padding: 0 10px;
  white-space: nowrap;
}
.notification-box .notification .notify-list-rows li .notify-name {
  width: 120px;
  padding: 0 10px;
}
.notification-box .notification .notify-list-rows li .quote-issues {
  flex: 1;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.notification-box .notification .notify-list-rows li .btn-read .btn {
  width: 84px;
  height: 27px;
  font-size: 10px;
  letter-spacing: 0.8px;
}
.notification-box .all-notify, .notification-box .all-clients {
  width: 208px;
  height: 33px;
  margin: 20px auto 35px;
  font-size: 12px;
  letter-spacing: 0.96px;
}
.notification-box .all-clients {
  width: 179px;
  margin-bottom: 0;
}
.notification-box .clients-box {
  min-width: 228px;
}
.notification-box .clients-box .clients {
  background: #f6f7fa;
  border-radius: 7px;
}
.notification-box .clients-box .clients .cl-list {
  padding-bottom: 35px;
}
.notification-box .clients-box .clients .cl-list li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  height: 85px;
}
.notification-box .clients-box .clients .cl-list li .client-avatar {
  flex: 1;
  padding: 10px;
}
.notification-box .clients-box .clients .cl-list li .client-avatar .img-wrap {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.notification-box .clients-box .clients .cl-list li .client-avatar .img-wrap img {
  width: 100%;
  height: 100%;
}
.notification-box .clients-box .clients .cl-list li .client-info {
  position: relative;
  flex: 3;
}
.notification-box .clients-box .clients .cl-list li .client-info:after {
  position: absolute;
  top: 0;
  right: 15px;
  content: url("../../images/eye-icon.svg");
  width: 20px;
  height: 11px;
}
.notification-box .clients-box .clients .cl-list li .client-info .cl-name {
  color: #00b5a0;
  letter-spacing: 1.2px;
}
.notification-box .clients-box .clients .cl-list li .client-info .cl-date {
  color: #b5b5b5;
  font-size: 10px;
  letter-spacing: 1px;
}
.notification-box .clients-box .clients .cl-list li .client-info .insurance {
  font-size: 10px;
  font-weight: 500;
  color: #939393;
  letter-spacing: 1px;
}

/* BUTTON */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 400;
  color: #ffffff;
  background: #00b5a0;
  cursor: pointer;
}
.btn:hover {
  background: #2c6f67;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
