/* separate components */
@import "circular-percent";
@import "media";

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Global */
body {
  font: 12px 'Roboto', sans-serif;
  color: #cecece;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.big-number {
  font-size: 35px;
  font-weight: 300;
}

/* Header */
header {
  border-right: 1px solid #ecefef;
  .main-menu {
    li{
      position: relative;
    }
    .current {
      background: #00a093;
      color: #ffffff;
      //box-shadow: 0 2px 27px -2px black;
    }
    .nav-dashboard:after{
      position: absolute;
      bottom: 0;
      content: url("../../images/dashboard-icon.svg");
    }
    .nav-quotes:after{
      position: absolute;
      bottom: 0;
      content: url("../../images/quotes-icon.svg");
    }
    .nav-renewals:after{
      position: absolute;
      bottom: 0;
      content: url("../../images/renewals-icon.svg");
    }
    .nav-clients:after{
      position: absolute;
      bottom: 0;
      content: url("../../images/clients-icon.svg");
    }
    .nav-notify:after{
      position: absolute;
      bottom: 0;
      content: url("../../images/notifications-icon.svg");
    }

    a {
      display: flex;
      line-height: 12;
      justify-content: center;
      width: 125px;
      height: 124px;
      color: #aaaaaa;
      font-weight: 500;
      letter-spacing: 1.2px;
      text-transform: capitalize;
      &:hover {
        color: #ffffff;
        background: #00a093;
        box-shadow: 0 2px 27px -2px black;
      }
    }
  }
}

/* PAGE CONTENT */

.content {
  flex: 1;
  padding-top: 60px;
  padding-left: 45px;
  h3 {
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin: 27px 0 15px;
  }
  .content-header {
    display: flex;
    h1 {
      font-size: 14px;
      color: #515151;
    }
    hr {
      flex: 1;
      height: 1px;
      border: 0;
      background: #f9f9f9;
      margin-top: 12px;
      margin-left: 10px;
    }
  }

  /* CHART BOX SECTION */
  .chart-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .chart {
      width: 100%;
      max-width: 588px;
      margin-right: 10px;

      .chart-img {
        background: #f6f7fa;
        border-radius: 7px;
      }
    }
    /* QUOTE in ASIDE */
    .quote {
      min-width: 228px;
      h3 {
        margin: 27px 0 15px;
      }
      .quote-box {
        padding-bottom: 40px;
        border-radius: 7px;
        background: #f6f7fa;
        .quote-date {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 57px;
          border-bottom: 1px solid #d8d8d8;
        }
        .quote-count {
          text-align: center;
          margin: 30px 0;
          span {
            display: block;
          }
        }
        .percent-mode {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .quote-compare {
          display: flex;
          justify-content: space-around;
          font-size: 11px;
          margin-top: 35px;
          padding: 0 25px;
          text-transform: capitalize;
          div {
            width: 80%;
          }
          .succeded-quotes:before {
            background: #0dc3af;
          }
          .declined-quotes:before {
            background: #cecece;
          }
          .dots {
            font-size: 18px;
            &:before {
              content: " ";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  /* ACTIVITY CALENDAR SECTION */
  .activity-calendar {
    padding-bottom: 20px;
    max-width: 835px;
    .calendar-slider::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .calendar-slider::-webkit-scrollbar-thumb {
      background-color: #3fcfc1;
      outline: 1px solid slategrey;
    }
    .calendar-slider::-webkit-scrollbar {
      display: block;
      height: 2px;
    }
    .calendar-slider {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 20px;
      li {
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      .day-section {
        width: 157px;
        border-radius: 7px;
        overflow: hidden;
        background: #f6f7fa;
        .day-head {
          background: #f0f1f2;
          display: flex;
          padding: 10px 10px 0;
          .month {
            color: #929293;
            letter-spacing: 1.2px;
            margin-top: 7px;
          }
        }
        .calendar-drop-list {
          padding: 5px 10px;
          li {
            display: flex;
            .c-desc {
              padding-top: 20px;
              color: #a8aeae;
              font-size: 11px;
              font-weight: 400;
              letter-spacing: 1.1px;
            }
          }
          .new-quotes {
            .big-number {
              color: #34cebf;
            }
          }
          .renewals {
            .big-number {
              color: #fed26a;
            }
          }
          .notification {
            .big-number {
              color: #ffb78b;
            }
          }
        }
        .big-number {
          text-align: right;
          width: 30%;
          margin-right: 10px;
          color: #929293;
          letter-spacing: 3.49px;
        }
      }
    }
  }
}

/* NOTIFICATION BOX SECTION */
.notification-box {
  display: flex;
  justify-content: space-between;
  .notification {
    width: 100%;
    margin-right: 10px;
    .notify-list-rows {
      border-radius: 7px;
      overflow: hidden;
      background: #f6f7fa;
      li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        height: 45px;
        padding-right: 15px;
        .notify-date:before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          background: #ffcf60;
          margin: 0 20px;
        }
        .notify-date {
          padding: 0 10px;
          white-space: nowrap;
        }
        .notify-name {
          width: 120px;
          padding: 0 10px;
        }
        .quote-issues {
          flex: 1;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1.2px;
        }
        .btn-read {
          .btn {
            width: 84px;
            height: 27px;
            font-size: 10px;
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }
  .all-notify, .all-clients{
    width: 208px;
    height: 33px;
    margin: 20px auto 35px;
    font-size: 12px;
    letter-spacing: 0.96px;
  }
  .all-clients{
    width: 179px;
    margin-bottom: 0;
  }

  /* CLIENTS BOX */
  .clients-box{
    min-width: 228px;
    .clients{
      background: #f6f7fa;
      border-radius: 7px;
      .cl-list{
        padding-bottom: 35px;
        li{
          display: flex;
          align-items: center;
          border-bottom: 2px solid #ebebeb;
          height: 85px;
          .client-avatar{
            flex: 1;
            padding: 10px;
            .img-wrap{
              width: 43px;
              height: 43px;
              border-radius: 50%;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          .client-info{
            position: relative;
            flex: 3;
            &:after{
              position: absolute;
              top: 0;
              right: 15px;
              content: url("../../images/eye-icon.svg");
              width: 20px;
              height: 11px;
            }
            .cl-name{
              color: #00b5a0;
              letter-spacing: 1.2px;
            }
            .cl-date{
              color: #b5b5b5;
              font-size: 10px;
              letter-spacing: 1px;
            }
            .insurance{
              font-size: 10px;
              font-weight: 500;
              color: #939393;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}



/* BUTTON */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 400;
  color: #ffffff;
  background: #00b5a0;
  cursor: pointer;
  &:hover {
    background: #2c6f67;
    transition: .3s;
  }
}